body {
    box-sizing: border-box;
}

h1, p,
h2{
    margin: 0;
}

.header-section {
    display: grid;
    grid-template-rows: 150px;
    grid-template-columns: 300px 750px 50px;
    column-gap: 325px;
}

.logo-section {
    display: grid;
    grid-template-rows: repeat(3, 50px);
    grid-template-columns: repeat(3, 100px);
}

.logo-item {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.nav-section {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(3, 50px);
}

.nav-section > a {
    grid-row: 2 / 3;
}

.menu-section {
    display: grid;
    grid-template-rows: repeat(3, 50px);
}

.menu-section svg {
    grid-row: 2 / 3;
}

.nav-section a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.hero-text {
    display: grid;
    grid-template-rows: 300px repeat(2, 100px);
    width: 30%;
    padding: 25px;
    margin-left: 7%;
}

.hero-text-header > h1 {
    font-size: 80px;
}

.hero-text-para p {
    font-size: 18px;
}

.hero-text-search {
    box-shadow: 0px 0px 5px 1px rgb(175, 175, 175);
    border-radius: 10px;
    display: grid;
    grid-template-rows: repeat(3, 32.5px);
    grid-template-columns: repeat(3, 200px) 75px;
}

#text-location,
#text-date,
#text-price{
    margin-left: 30px;
    font-size: 20px;
}

.hero-text-icon {
    margin-left: 50%;
}

.hero-text-search > select {
    border: none;
    background: none;
}

.hero-text-search > select,
.hero-text-search div {
    grid-row: 2 / 3;
}

.hero-section {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.hero-image {
    display: grid;
    grid-template-columns: repeat(2, 35%);
    grid-template-rows: 100%;
}

.first-image .template-image {
    height: 45%;
    margin-bottom: 10%;
}

.template-image {
    background-color: grey;
    border-radius: 5px;
    margin-right: 10%;
}

.second-image {
    display: grid;
}

.second-image .template-image {
    height: 70%;
    margin-top: 20%;
}