body {
    box-sizing: border-box;
}

h1, p,
h2{
    margin: 0;
}

.header-section {
    display: grid;
    grid-template-rows: 150px;
    grid-template-columns: 300px 750px 50px;
    column-gap: 325px;
}

.logo-section {
    display: grid;
    grid-template-rows: repeat(3, 50px);
    grid-template-columns: repeat(3, 100px);
}

.logo-item {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.nav-section {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(3, 50px);
}

.nav-section > a {
    grid-row: 2 / 3;
}

.menu-section {
    display: grid;
    grid-template-rows: repeat(3, 50px);
}

.menu-section svg {
    grid-row: 2 / 3;
}

.nav-section a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.hero-text {
    display: grid;
    grid-template-rows: 300px repeat(2, 100px);
    width: 30%;
    padding: 25px;
    margin-left: 7%;
}

.hero-text-header > h1 {
    font-size: 80px;
}

.hero-text-para p {
    font-size: 18px;
}

.hero-text-search {
    box-shadow: 0px 0px 5px 1px rgb(175, 175, 175);
    border-radius: 10px;
    display: grid;
    grid-template-rows: repeat(3, 32.5px);
    grid-template-columns: repeat(3, 200px) 75px;
}

#text-location,
#text-date,
#text-price{
    margin-left: 30px;
    font-size: 20px;
}

.hero-text-icon {
    margin-left: 50%;
}

.hero-text-search > select {
    border: none;
    background: none;
}

.hero-text-search > select,
.hero-text-search div {
    grid-row: 2 / 3;
}

.hero-section {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.hero-image {
    display: grid;
    grid-template-columns: repeat(2, 35%);
    grid-template-rows: 100%;
}

.first-image .template-image {
    height: 45%;
    margin-bottom: 10%;
}

.template-image {
    background-color: grey;
    border-radius: 5px;
    margin-right: 10%;
}

.second-image {
    display: grid;
}

.second-image .template-image {
    height: 70%;
    margin-top: 20%;
}

.plan-section {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 800px;
    margin-top: 100px;
}

.plan-video {
    height: 80%;
    width: 50%;
    margin-left: 25%;
    background-color: grey;
    border-radius: 5px;
    margin-top: 7.5%;
}

.plan-trip-text {
    display: grid;
    grid-template-rows: repeat(3, 50%);
    grid-template-columns: 10% 90%;
    margin-top: 5%;
}

.plan-header {
    margin-top: 12.5%;
}

.plan-header p {
    font-size: 20px;
    color: orange;
}

.plan-header > h2 {
    font-size: 40px;
}

.hero-text-header h1 span {
    text-decoration: underline orange solid;
}

.product-header > p,
.product-header h2 span {
    color: orange;
}

.product-header p {
    font-size: 30px;
}

.product-header h2 {
    font-size: 50px;
}

.product-header {
    margin-left: 12.5%;
}

.product-section {
    display: grid;
    grid-template-rows: 150px 600px 150px;
}

.product-main {
    display: grid;
    grid-template-columns: 200px repeat(3, 500px) 200px;
}

.product2-container,
.product3-container,
.product4-container {
    display: grid;
    grid-template-rows: 300px 250px;
    grid-template-columns: 350px;
    border-radius: 5px;
    justify-content: center;
    margin-top: 20px;
}

.product2-logo,
.product3-logo,
.product4-logo {
    display: grid;
    grid-template-columns: 30px 70px 30px 70px 30px 70px;
    justify-content: center;
    align-items: center;
}

.product2-name,
.product3-name,
.product4-name {
    margin-top: 80px;
    font-size: 20px;
    font-weight: bold;
}

.product2-price p span,
.product3-price p span,
.product4-price p span {
    color: orange;
}

.product2-image,
.product3-image,
.product4-image {
    background-color: grey;
    border-radius: 10px;
}

.product2-info,
.product3-info,
.product4-info {
    box-shadow: 0px 0px 5px 1px rgb(175, 175, 175);
    border-radius: 10px;
}

.product2-name,
.product2-price,
.product3-name,
.product3-price,
.product4-name,
.product4-price {
    margin-left: 25px;
    margin-bottom: 20px;
}

.product-1,
.product-5 {
    display: grid;
    align-items: center;
    justify-items: center;
}

.product-footer {
    display: grid;
    justify-items: center;
}

.about-section {
    display: grid;
    grid-template-columns: 60% 40%;
}

.about-text {
    display: grid;
    grid-template-rows: 200px 300px 300px;
}

.about-text-footer {
    display: grid;
    grid-template-rows: repeat(2, 50%);
    grid-template-columns: repeat(3, 30%);
}

.about-text-header p {
    color: orange;
    font-size: 30px;
}

.about-text-header > h2 {
    font-size: 65px;
}

.about-text {
    margin-left: 15%;
}

.about-text-main p {
    font-size: 20px;
    margin-top: 40px;
}

.about-text-main > button {
    background-color: orange;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 15px 40px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 40px;
}

.about-text-footer p:nth-child(-n+6) {
    font-size: 30px;
}

.about-text-footer p:nth-child(-n+3) {
    font-size: 70px;
}

.about-image {
    width: 70%;
    height: 70%;
    background-color: grey;
    border-radius: 5px;
    margin-left: 10%;
}

.testimonial-section {
    display: grid;
    grid-template-rows: 100px 600px;
}

.testi-header p {
    color: orange;
    font-size: 20px;
}

.testi-header > h2 {
    font-size: 40px;
}

.testi-header {
    margin-left: 9%;
}